<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout3">

<head>
<title>Topic-list</title>
</head>

<body>
	
	<div layout:fragment="content">
		<!--breadcrumbs start-->
         <div id="breadcrumbs-wrapper">
            <!-- Search for small screen -->
            <div class="header-search-wrapper grey lighten-2 hide-on-large-only">
              <input type="text" name="Search" class="header-search-input z-depth-2" placeholder="Explore Materialize">
            </div>
            <div class="container">
              <div class="row">
                <div class="col s10 m6 l6">
                  <h5 class="breadcrumbs-title">Topics</h5>
                  <ol class="breadcrumbs">
                    <li><a href="index.html">Dashboard</a>
                    </li>
                    <li th:text=${pageRO.keyid} class="active"></li>
                  </ol>
                </div>                
              </div>
            </div>
          </div>
          <!--breadcrumbs end-->		 
		<div class="container">
			<div class="section">
				<div class="divider"></div>
				<div id="basic-form" class="section">
					<div class="row">
						<div class="col s12 m12 l12">
							<a th:href="@{/admin/web/pages/{id}(id=${pageRO.id})}" class="btn grey lighten-5 grey-text" name="action">General</a>					
					        		<a th:href="@{/admin/web/pages/{id}/courses(id=${pageRO.id})}" name="action" class="btn grey lighten-5 grey-text">Courses</a>
					        		<a th:href="@{/admin/web/pages/{id}/modules(id=${pageRO.id})}" name="action" class="btn grey lighten-5 grey-text">Modules</a>
					         		<a th:href="@{/admin/web/pages/{id}/topics(id=${pageRO.id})}" name="action" class="btn blue">Topics</a>
					        		<a th:href="@{/admin/web/pages/{id}/questions(id=${pageRO.id})}" name="action" class="btn grey lighten-5 grey-text">Questions</a>
							<div class="card-panel">
								<div class="row">
									<div class="col s12">                   
					                  
					                  The list shows all unassigned topics. Click assign to add more topic.             
					                </div>
					                <div class="col s12">
										<table class="centered">
											<thead>
												<tr>
													 <th>KeyId</th>
													  	<th>Name</th>
													  	<th>Title</th>
													  	<th>AuthorId</th>
													  	<th>DomainId</th>
													 <th></th>
												</tr>
											</thead>
											<tbody>
												<tr th:if="${topics.empty}">
										            <td colspan="3"> No Topic Available </td>
										        </tr>
												  <tr th:each ="topic : ${topics}">
													   <td ><a th:href="@{/admin/web/topics/{id}(id=${topic.id})}"><span th:text="${topic.keyid}"></span></a></td>
														 		<td th:text="${topic.name}"></td>
														 		<td th:text="${topic.title}"></td>
														 		<td th:text="${topic.authorId}"></td>
														 		<td th:text="${topic.domainId}"></td>
													 <td>
										                <a th:href="@{/admin/web/pages/{page_id}/topics/{id}/assign(page_id=${pageRO.id},id=${topic.id})}" class="btn-floating btn-small"> <i class="material-icons">add</i></a>
										            </td>
												</tr>
											</tbody>
										</table>
									</div>		
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>