<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout3">

<head>
<title>LearningTrackPath-list</title>
</head>

<body>
	<div layout:fragment="content">			 
		<div class="container">
			<div class="section">
				<div class="divider"></div>
				<div id="basic-form" class="section">
					<div class="row">
						<div class="col s12 m12 l12">													
							<div class="card-panel">								 
								 <h4 class="header2"><span>Add LearningTrackPath :</span></h4>
								 <p class="caption">Fields with a red asterisk (*) are mandatory.</p>
								  <p th:if="${error != null}" th:text="${error}" class="chip"></p>	
								   <form action="#" th:action="@{/admin/web/learning_track_paths/add}" method="POST" id="editorForm" th:object="${learning_track_pathRO}">
							             <div class="row">
											         <div class="input-field col s12 l6">
											          <input type="text" id="keyid" name="keyid" class="validate"  th:field="*{keyid}">
											          <label for="keyid">Keyid</label>
											        </div>	
											         <div class="input-field col s12 l6">
											          <input type="text" id="step" name="step" class="validate"  th:field="*{step}">
											          <label for="step">Step</label>
											        </div>	
											         <div class="input-field col s12 l6">
											          <input type="text" id="status" name="status" class="validate"  th:field="*{status}">
											          <label for="status">Status</label>
											        </div>	
											         <div class="input-field col s12 l6">
											          <input type="text" id="refid" name="refid" class="validate"  th:field="*{refid}">
											          <label for="refid">Refid</label>
											        </div>	
							             </div>
							              <br>
						             		<button class="btn btn-success btn-sm"  onClick="addEditorForm()">Apply</button>
						        </form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</body>
</html>