<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout3">

<head>
<title>Page-list</title>
</head>

<body>

<section id="content" layout:fragment="content">	
	<div  class="container">		
		<div class="section">
			<h4 class="header">Pages</h4>
			<div class="divider"></div>
			<br>
			<div class="row">
				<div class="col s12">                   
                   <a th:href="@{/admin/web/pages/add}"  id="scale-demo" href="#!" class="btn-floating btn-large scale-transition">
					    <i class="material-icons">add</i>
					</a>
                  The list shows all pages of the author. Click New to add page.             
                </div>
                <div class="col s12">
					<table class="centered">
						<thead>
						<tr>
							  	<th>Keyid</th>
							  	<th>Name</th>
							  	<th>AuthorId</th>
							  	<th>DomainId</th>
							 <th></th>
						</tr>
						</thead>
						<tbody>
						<tr th:if="${pages.empty}">
				            <td colspan="3"> No Page Available </td>
				        </tr>
						 <tr th:each ="page : ${pages}">
							 	<td><a th:href="@{/admin/web/pages/{id}(id=${page.id})}"><span th:text="${page.keyid}"></span></a></td>
							 	<td><a th:href="@{/admin/web/pages/{id}(id=${page.id})}"><span th:text="${page.name}"></span></a></td>
							 	<td><a th:href="@{/admin/web/pages/{id}(id=${page.id})}"><span th:text="${page.authorId}"></span></a></td>
							 	<td><a th:href="@{/admin/web/pages/{id}(id=${page.id})}"><span th:text="${page.domainId}"></span></a></td>
							 <td>
				                <a th:href="@{/admin/web/pages/{id}/delete(id=${page.id})}" class="btn-floating btn-small"> <i class="material-icons">delete</i></a>
				            </td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</section>	
</body>
</html>