<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Header</title>
</head>

<body>

 <footer class="footer page-footer orange" th:fragment="footer">
   <div class="container">
	  <div class="row">
	    <div class="col l6 s12">
	      <h5 class="white-text">WHAT WE DO</h5>
	      <p class="grey-text text-lighten-4">We are passionate about creating and supporting the best educational technology. We develope groundbreaking learning solutions for learners.</p>
	
	
	    </div>
	    <div class="col l3 s12">
	      <h5 class="white-text">WHAT MAKES US DIFFERENT
	      </h5>
	      <ul>
	        <li><a class="white-text" href="#!">Our solutions</a></li>
	        <li><a class="white-text" href="#!">Our people</a></li>
	        <li><a class="white-text" href="#!">our story</a></li>
	        <li><a class="white-text" href="#!">our culture</a></li>
	      </ul>
	    </div>
	    <div class="col l3 s12">
	      <h5 class="white-text">HOW TO CONNECT</h5>
	      <ul>
	        <li><a class="white-text" href="#!">company</a></li>
	        <li><a class="white-text" href="#!">careers</a></li>
	        <li><a class="white-text" href="#!">blog</a></li>
	        <li><a class="white-text" href="#!">learning stats</a></li>
	      </ul>
	    </div>
	  </div>
	</div>
</footer>
  
  
  
  

</body>

</html>