<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">

<head th:replace="fragments/header :: header">
<title>Header</title>
</head>

<body>



<div th:replace="fragments/navigation :: navigation"></div>

<div class="section no-pad-bot" id="index-banner">
  <div class="container banner-content-bg">
    <div class="row">
    	<div id="banner" class="col m8 s12">
    		<br><br>
		    <h1 class="header center orange-text">Learning like a playing a game</h1>
		    <div class="row center">
		      <h5 class="header col s12 light">Learning in delightful interactive game can be really fun. Points, badges, cute monsters...who knew learning could be this enjoyable?</h5>
		    </div>
		    <div class="row center">
		      <a th:href="@{/signup}"  id="download-button" class="btn-large waves-effect waves-light orange">Get Started Now</a>
		    </div>
		    <br><br><br>
    	</div>
    	<div class="col m4 s12">
    		 <div class="row">
                <div class="card-panel">
                  <div class="row">
                    <p th:if="${error != null}" th:text="${error}" class="chip"></p>	
                    <form class="col s11"  th:action="@{/login}" method='POST' >
                      <h4 class="header2 center-align">Login</h4>
                      <div class="row">
                        <div class="input-field">
                          <i class="material-icons prefix">account_circle</i>
                          <input id="icon_prefix"  name="username" type="text" class="validate">
                          <label for="icon_prefix">User Name</label>
                        </div>
                        <div class="input-field">
                          <i class="material-icons prefix">lock_outline</i>
                          <input id="icon_password" name="password" type="password" class="validate">
                          <label for="icon_password">Password</label>
                        </div>
                        <div class="input-field">
                          <div class="input-field">
                            <button class="btn waves-effect waves-light" type="submit" name="action">
                              <i class="material-icons">lock_open</i> Login</button> <a th:href="@{/signup}" class="waves-effect waves-light" name="action">Register</a>                              
                          </div>
                          
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
            </div>
    	</div>    	
    </div>    
  </div>
</div>


	<div th:replace="fragments/footer :: footer"></div>

<!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="/js/materialize.js"></script>
  <script src="/js/init.js"></script>

</body>

</html>