<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<!--================================================================================
	Item Name: Materialize - Material Design Admin Template
	Version: 4.0
	Author: PIXINVENT
	Author URL: https://themeforest.net/user/pixinvent/portfolio
================================================================================ -->

<head th:fragment="head">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="msapplication-tap-highlight" content="no">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <title>gyanpi</title>
	<link rel="apple-touch-icon" sizes="180x180" href="/images/favicon_v0.16/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon_v0.16/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon_v0.16/favicon-16x16.png">
	<link rel="manifest" href="/images/favicon_v0.16/site.webmanifest">
	<link rel="mask-icon" href="/images/favicon_v0.16/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="theme-color" content="#ffffff">
  <meta name="msapplication-TileColor" content="#00bcd4">
  <meta name="msapplication-TileImage" content="/images/favicon/mstile-144x144.png">
  <!-- For Windows Phone -->
  <!-- CORE CSS-->
  <link href="/css/materialize.css" type="text/css" rel="stylesheet">
  <link href="/css/style.css" type="text/css" rel="stylesheet">
  <!-- Custome CSS-->
  <link href="/css/custom/custom.css" type="text/css" rel="stylesheet">
  <!-- INCLUDED PLUGIN CSS ON THIS PAGE -->
  <link href="/vendors/prism/prism.css" type="text/css" rel="stylesheet">
  <link href="/vendors/perfect-scrollbar/perfect-scrollbar.css" type="text/css" rel="stylesheet">
  <link href="/vendors/flag-icon/css/flag-icon.min.css" type="text/css" rel="stylesheet">
  
  <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
</head>

<body>
</body>
</html>